In [5]:
import pandas as pd
import os
import glob

# data_dir='fixed_csv_label_ver2'
data_dir='filtered_csv_label'
current_dir=os.getcwd()
noise_data_dir=os.path.join(current_dir, data_dir)
noise_data_file=os.path.join(noise_data_dir,'-21*.csv')
noise_data_files=glob.glob(noise_data_file)
learning_data_dir=os.path.join(current_dir, data_dir)
noise_data_files

['C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109201530.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109220600.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109230700.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109240600.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109250730.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109260800.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109270500.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109280500.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109290600.csv',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\filtered_csv_label\\-2109300600.csv']

In [6]:
file_list=[]
for j in range(len(noise_data_files)):
    df=pd.read_csv(noise_data_files[j], header=None, usecols=[0,1,2],skiprows=4, 
                   names=['original', 'label', 'time'])
    df['day']=j
    file_list.append(df)
df=pd.concat(file_list).reset_index(drop=True)
df

         original  label      time  day
0            53.4      0  15:30:00    0
1            52.8      0  15:30:00    0
2            52.8      0  15:30:00    0
3            53.2      0  15:30:01    0
4            53.6      0  15:30:01    0
...           ...    ...       ...  ...
3995345      45.9      0   5:59:56    9
3995346      45.6      0   5:59:56    9
3995347      45.8      0   5:59:56    9
3995348      45.7      0   5:59:57    9
3995349      45.9      0   5:59:57    9

[3995350 rows x 4 columns]

In [7]:
df['time']=pd.to_datetime(df['time'], format='%H:%M:%S').dt.hour
df

         original  label  time  day
0            53.4      0    15    0
1            52.8      0    15    0
2            52.8      0    15    0
3            53.2      0    15    0
4            53.6      0    15    0
...           ...    ...   ...  ...
3995345      45.9      0     5    9
3995346      45.6      0     5    9
3995347      45.8      0     5    9
3995348      45.7      0     5    9
3995349      45.9      0     5    9

[3995350 rows x 4 columns]

In [8]:
output_file=f'learning_data_10.csv'
df.to_csv(os.path.join(learning_data_dir, output_file), index=False)